html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header, main, footer {
    max-width: 1320px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    ul {
        list-style-type: none;
        margin: 0 16px;
        padding: 0;

        li {
            display: inline-block;
            margin: 0 1.5rem;
        }

        li>a {
            color: inherit;
            text-decoration: none;
        }

        li>a:hover, li>a:active, li.active>a {
            color: #055BA6;
        }

        li>a:active::after, li.active>a::after {
            content: "";
            border-bottom: 4px solid #055BA6;
            width: 100%;
            display: block;
        }

        li>a:focus {
            outline: none;
            color: #eb4f83;
        }

        li>a:focus::after {
            content: "";
            border-bottom: 4px solid #eb4f83;
            width: 100%;
            display: block;
        }

        button#colorSwitch {
            vertical-align: middle;
            width: 80px;
            height: 80px;
        }
    }

    #logo {
        margin: 16px 0;
    }

    #colorSwitch {
        cursor: pointer;
    }

    #logo:focus, #colorSwitch:focus {
        outline: 3px dashed #eb4f83;
        outline-offset: 10px;
    }

}

main {
    flex: 1 1 auto;
    min-height: 100%;
}

footer {
    flex: 0 0 auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
}

.flex-box {
    width: 400px;
}

#hero {
    p {
        max-width: 900px;
    }
}
