@media (min-width: 768px) {
    .show-on-mobile {
        display: none;
    }

    .hide-on-mobile {
        display: block;
    }
}

@media (max-width: 767px) {
    .show-on-mobile {
        display: block;
    }

    .hide-on-mobile {
        display: none;
    }
}
